[defaults]

command_warnings=False

interpreter_python = auto_silent
# do not check ssh keys
host_key_checking = False

# lets use more threads
forks = 20
# command_timeout = 60

# dont display skipped host tasks
# display_skipped_hosts = false

# human readable output
stdout_callback=debug
stderr_callback=debug

# default inventory file
inventory = inventory.cfg

[ssh_connection]
pipelining = True
